#login-sidebar {
    position: absolute;
    right: 0;
}

.manage-accounts-list div{
    border: 1px solid;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.manage-individual-account {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}