* {
    font-family: var(--sf-pro-font) !important;
}
:root {
    --dark-gray: #282828;
    --cream: #EDE1C2;
    --white-black-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0.55%, rgba(255, 255, 255, 0.0128453) 96.81%, rgba(255, 255, 255, 0) 100%);
    --sf-pro-font: 'SF Pro Display';
}


header.user-auth > div,
main.user-auth > div,
footer.user-auth > div {
    max-width: 1800px;
    margin: 0 auto;
}

/* 
==============================
==============================
==============================
HEADER-USER AUTH ==============================
==============================
==============================
==============================
*/
#header-ua {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: var(--dark-gray);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#header-ua > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;
}


#header-ua .content-nav > ul {
    gap: 0 45px;
}

#header-ua nav > ul .img-con {
    cursor: pointer;
    transition: .3s;
    transform: translateY(0);
}


#header-ua > div .img-con.logo svg {
    width: 45px;
    height: 45px;
}



#header-ua nav > ul .img-con svg path {
    transition: fill 0.2s ease; /* Smooth transition */
}

/* Change color on hover */
#header-ua nav > ul .img-con:hover svg path {
    fill: var(--cream); /* Change color to cream */
}

/* #header-ua nav > ul .img-con a:focus svg path {
    fill: var(--cream); /* Change color to cream 
} */

#header-ua .user-nav > ul {
    gap: 0 50px;
}

#header-ua .user-nav > ul li {
    position: relative;
}

#header-ua .user-nav > ul.logos > li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .1);
    border: none;
}
#header-ua .img-con a {
    position: relative;
}

#header-ua .user-nav .user-avatar {
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 100%;
    position: relative;
    overflow: clip;
}

#header-ua .user-nav .user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: brightness(1);
    transition: 0.6s;
}

#header-ua .user-nav .user-avatar:hover img {
    filter: brightness(0.5); /* Darkens the image on hover */
}

#header-ua .img-con a:before {
    content: '';
    position: absolute;
    width: calc(100% + 15px);
    bottom: -15px;
    left: 50%;
    height: 3px;
    background-color: var(--cream);
    transform: translate(-50%, 100%);
    transition: .5s ease-in-out;
    opacity: 0;
}

#header-ua nav {
    width: auto;
}

#header-ua .user-dropdown {
    position: absolute;
    background-color: var(--dark-gray);
    top: 40px;
    left: -175px;
    padding: 20px;
    width: 360px;
    border-radius: 12px;
    color: white;
    text-align: center;
    align-items: center;
    transform: 0.3s;
}

#header-ua .user-dropdown .img-con.user-profile-photo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

#header-ua .user-dropdown .img-con.user-profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: clip;
    border: 10px solid #987F4E;
}

#header-ua .user-dropdown h4.user-fullname {
    font-weight: 700;
    text-decoration: underline;
    margin: 10px 0 10px;
    text-transform: capitalize;
}

#header-ua .user-dropdown p.user-privilege-type {
    margin: 5px 0 35px;
}

#header-ua .user-dropdown .control-buttons-con.flex-col {
    gap: 15px;
}

#header-ua .user-dropdown .control-buttons-con a.button {
    background: #EDE1C2;
    border: none;
    border-radius: 4px;
    padding: 10px 12px 10px 35px;
    color: black;
    font-size: 12px;
    position: relative;
    text-align: left;
}

 
#header-ua .user-dropdown .control-buttons-con a.logout-button {
    background: #4B0000;
    color: white;
}

#header-ua .user-dropdown .control-buttons-con a.button svg {
    position: absolute;
    left: 12px;
}


#header-ua .menu-dropdown {
    position: absolute;
    background-color: var(--dark-gray);
    top: 40px;
    left: -205px;
    padding: 40px;
    width: 150px;
    border-radius: 6px;
    color: white;
    gap: 10px;
}

/* 
==============================
==============================
==============================
MAIN-USER AUTH ==============================
==============================
==============================
==============================
*/

#main-ua {
    background: url('../img/drone_shot2.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

#main-ua:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(56, 56, 56, 0.6) 0%, #000000 81.28%);
}
#main-ua > div {
    padding: 85px 0;
    gap: 0 50px;
    align-items: start; 
    justify-content: start;
}

#main-ua .focused a,
#header-ua .focused a {
    color: var(--cream); /* Or any color for the focused state */
}

#main-ua .focused svg path,
#header-ua .focused svg path {
    fill: var(--cream); /* Apply the fill color for focused icons */
}

/* Optional: Make the focused icon pop a bit */
#main-ua .focused.img-con,
#header-ua .focused.img-con {
    transform: translateY(-5px); /* Slightly move it up */
}

#header-ua .focused.img-con a:before {
    opacity: 1;
    transform: translate(-50%, 100%);
}

/* 
==============================
==============================
==============================
SIDEBAR-USER AUTH ==============================
==============================
==============================
==============================
*/
#sidebar-ua {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    gap: 45px 0;
    width: fit-content;
    padding: 95px 115px 25px 30px;
    z-index: 1;
}

#sidebar-ua a{
    font-family: var(--sf-pro-font);
    font-size: 20px;
    color: white;
}

/* #sidebar-ua a:focus {
    color: var(--cream);
} */

#sidebar-ua .text-con {
    justify-content: unset;
    gap: 0 30px;
}

#sidebar-ua > .img-con {
    position: absolute;
    top: 30px;
    left: 30px;
}

/* 
==============================
==============================
==============================
MANAGE-ACCOUTNS-USER AUTH ==============================
==============================
==============================
==============================
*/

#manage-accounts {
    gap: 0 25px;
    align-items: start;
}


#manage-accounts-search-list {
    
}

/* Wrapper for the toggle switch */
#manage-accounts-search-list .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

#manage-accounts-search-list .toggle-switch input {
    display: none; /* Hide the checkbox */
}

#manage-accounts-search-list .toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.3s;
}

#manage-accounts-search-list .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    bottom: 3px;
    left: 3px;
    transition: 0.3s;
}

/* Checked state */
#manage-accounts-search-list .toggle-switch input:checked + .slider {
    background-color: #4caf50;
}

#manage-accounts-search-list .toggle-switch input:checked + .slider:before {
    transform: translateX(26px); /* Slide the knob */
}

/* Disabled state */
#manage-accounts-search-list .toggle-switch input:disabled + .slider {
    cursor: not-allowed;
    opacity: 0.6;
}

#manage-accounts-search-list span.account-status {
    position: absolute;
    left: 60px;
    width: max-content;
}

#manage-accounts-search-list input.search-input {
    margin: 25px 0;
}

#manage-accounts-search-list ul {
    gap: 10px 0;
}

#manage-accounts .manage-individual-account .user-information {
    align-items: start;
    gap: 0 15px;
}

#manage-accounts-list ul li {
    margin-bottom: 30px;
}

#manage-accounts-list ul {
    gap: 10px;
}

#manage-accounts .manage-individual-account .img-con {
    width: 385px;
    height: 300px;
}

#manage-accounts .manage-individual-account .img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

#manage-accounts .manage-individual-account {
    align-items: center;
    gap: 50px;
}

#manage-accounts .manage-individual-account .user-information div h4 {
    margin-bottom: 10px;
}

#manage-accounts .manage-individual-account .user-information div h6 {
    
}

#manage-accounts .manage-individual-account .user-information div h6:not(:last-of-type) {
    margin-bottom: 5px;
}

#manage-accounts .manage-individual-account .user-information button {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* 
==============================
==============================
==============================
CONTENT-PANEL-USER AUTH ==============================
==============================
==============================
==============================
*/

#content-panel-ua {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

#content-panel-ua > div {
    padding: 20px 20px 65px;
    color: white;
    position: relative;
}

/* 
==============================
==============================
==============================
POSTS-USER AUTH ==============================
==============================
==============================
==============================
*/

#posts-con {
    width: 760px;
    height: 800px;
}

#posts-con > div {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* Enable scrolling when content overflows */
    padding-bottom: 300px;
    box-sizing: border-box;
}

#posts-con > div::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background-color: white;
    border-radius: 10px; /* Rounded edges */
}

#posts-con > div::-webkit-scrollbar-thumb {
    background-color: #282828; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges */
}

#posts-con article {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 35px 25px;
    
}

#posts-con article:not(:last-of-type){
    margin-bottom: 50px;
}


#posts-con .user-metadata {
    justify-content: unset;
    gap: 0 15px;
    margin-bottom: 15px;
}

#posts-con .user-metadata .poster-name,
#posts-con .user-metadata .poster-name span,
#posts-con .post-data .post-content {
    font-family: var(--sf-pro-font);

}

#posts-con .user-metadata .poster-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

#posts-con .user-metadata .poster-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#posts-con .user-metadata .poster-name span {
    font-size: 14px;
}

#posts-con .user-metadata .text-con > p {
    margin-top: 5px;
    color: rgba(255, 255, 255, .6);
}
#posts-con .post-data {
    gap: 20px;
}

#posts-con .post-data .img-con {
    align-self: center;
}

#posts-con .post-data .img-con img {
    border-radius: 24px;
}

#posts-con .post-data .post-content {
    line-height: 1.33em;
    letter-spacing: 0.03em;
    font-weight: 400;
}

#posts-con .post-data .post-metadata {
    justify-content: space-between;
}

#posts-con .post-data .btn-con {
    justify-content: space-around;
}

#posts-con .post-data .btn-con a {
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 10px 0;
}

#posts-con .post-data .btn-con a:hover {
    border-color: white;
}

#posts-con .post-data .btn-con a.like-btn::before {   
    position: absolute;
    content: '';
    background: url('../img/like.svg');
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

#posts-con .post-data .btn-con a.comment-btn::before {   
    position: absolute;
    content: '';
    background: url('../img/comment.svg');
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

/* 
==============================
==============================
==============================
EVENTS-USER AUTH ==============================
==============================
==============================
==============================
*/
#events-con {
    gap: 0 30px;
    align-items: start;
    padding: 20px;
}

#events-con .react-calendar {
    background: var(--white-black-gradient);
    backdrop-filter: blur(21px);
    border-radius: 24px;
}

#events-con .event-details {
    gap: 40px 0;
    align-items: start;
}

#events-con .event-details .text-con:first-of-type {
    margin-bottom: 40px;
}

#events-con .event-details .agenda, 
#events-con .event-details .reminders {
    margin-top: 25px;
}

#events-con .event-details ul {
    list-style: unset;
}

#events-con .event-details ol,
#events-con .event-details ul {
    margin-top: 25px;
    padding-left: 25px; /* Adjust the padding as needed */
}
.react-calendar__tile.highlight-event {
    background-color: #ffcccb !important; /* Light red highlight */
    color: #000; /* Black text */
    font-weight: bold;
    border-radius: 50%; /* Circular background */
}

.react-calendar__tile.highlight-event:hover {
    background-color: #ff9999 !important; /* Darker red on hover */
    color: white;
}
/* 
==============================
==============================
==============================
DOCUMENT-REQUEST-USER AUTH ==============================
==============================
==============================
==============================
*/
#document-req-con {
    padding: 35px 80px 20px;
    background: var(--white-black-gradient);
    border-radius: 24px;
}

#document-req-con .text-con.head {
    justify-content: space-between;
    margin-bottom: 40px;
}
#document-req-con .text-con.head h4 {
    font-weight: 700;
}

#document-req-con .text-con.head input,
#manage-accounts-search-list .search-input {
    width: 399px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    background-color: transparent;
    padding-left: 55px;
    color: white;
}

#document-req-con .text-con.head input::placeholder{
    font-size: 12px;
}

#document-req-con .slick-slider {
    width: 650px;
    margin: 0 auto;
}

#document-req-con .slick-slide {
    opacity: 0.5; /* Dim non-centered slides */
    transition: 0.3s;
    transform: scale(0.7);
    
}


#document-req-con .slick-center {
    opacity: 1; /* Highlight the centered slide */
    transform: scale(1); /* Optionally scale the centered slide */
}

#document-req-con .document-slide {
    position: relative;
}

#document-req-con .document-slide:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
    z-index: 1;
}

#document-req-con .slick-center .document-slide .img-con{
    border-radius: 0;
}

#document-req-con .document-slide .img-con {
    border-radius: 12px;
    overflow: clip;
}

#document-req-con .document-slide .img-con img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#document-req-con .document-slide .text-con { 
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 15px;
    width: fit-content;
}

#document-req-con .form-con {
    margin: 60px auto 0;
    width: 550px;
}

#document-req-con button.large {
    margin: 60px 0 0;
}
/* 
==============================
USER-REQUEST-FORMS USER-AUTH ===============
==============================
*/

form.user-side-forms .input-con:not(:last-of-type) {
    margin-bottom: 30px;
}

form.user-side-forms .input-con label {
    font-family: var(--sf-pro-font);
    font-size: 22px;
    line-height: 0.81em;
    margin-bottom: 15px;
}

form.user-side-forms .input-con input, 
form.user-side-forms .input-con textarea {
    background: black;
    padding: 15px 0 15px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

form.user-side-forms .input-con input::placeholder {
    font-size: 16px;
    color: rgba(#228, #228, #228, 0);
    font-family: var(--sf-pro-font);
}

form.user-side-forms button {
    font-family: var(--sf-pro-font);
    font-size: 22px;
    font-weight: 700;
    padding: 10px 75px;
    color: black;
    background: var(--cream);
    margin: 75px auto 0;
    border-radius: 5px;
}

/* 
==============================
==============================
==============================
HEALTH-ASSIST-USER AUTH ==============================
==============================
==============================
==============================
*/

#health-assist-con {
    padding: 35px 80px 20px;
    background: var(--white-black-gradient);
    border-radius: 24px;
    width: 1000px;
}

#health-assist-con .form-con {
    margin: 60px auto 0;
    width: 550px;
}

/* 
==============================
==============================
==============================
REPORT-INCIDENT-USER AUTH ==============================
==============================
==============================
==============================
*/

#report-incident-con {
    padding: 35px 80px 20px;
    background: var(--white-black-gradient);
    border-radius: 24px;
    width: 1000px;
}

#report-incident-con .form-con {
    margin: 60px auto 0;
    width: 550px;
}

/* 
==============================
==============================
==============================
MANAGE-POSTS-USER AUTH ==============================
==============================
==============================
==============================
*/

#manage-posts {

}

/* 
==============================
==============================
==============================
MANAGE-EVENTS-USER AUTH ==============================
==============================
==============================
==============================
*/

#manage-events {
 
}

/* 
==============================
==============================
==============================
FORMS-USER AUTH ==============================
==============================
==============================
==============================
*/

#forms-con {
    padding: 35px 80px 20px;
    background: var(--white-black-gradient);
    border-radius: 24px;
    width: 1000px;
}

#forms-con .table-con  {
    background-color: white;
    color: black;
    border-radius: 24px;
    border: none;
    padding: 70px 35px 30px;
    margin-top: 60px;
    align-self: center;
}

#forms-con .table-con p.title {
    position: absolute;
    top: 30px;
    left: 35px;
    font-weight: 600;
}

#forms-con .table-con table thead,
#forms-con .table-con table tbody tr  {
    position: relative;
}

#forms-con .table-con table thead:before,
#forms-con .table-con table tbody tr::before {
    background-color: rgba(163, 163, 163, 0.25);
    height: 1px;
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
}

#forms-con .table-con table th {
    text-align: left;
    width: auto;
    padding: 10px;
    font-weight: 300;
    color: #656575;
}

#forms-con .table-con td {
    line-height: 1.19em;
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
}

#forms-con .table-con td.form-submits {
    width: 70px;
    text-align: center;
}

#forms-con .table-con td.form-submits p {
    background-color: rgba(153, 153, 153, 0.1);
    padding: 5px 10px;
}

#forms-con .table-con td.form-title {
    width: 110px;
}

#forms-con .table-con td.form-status {
    width: 130px;
}

#forms-con .table-con .proceed-btn {
    background-color: #006AFF;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}


@media only screen and (max-width: 1860px) {
    header.user-auth > div,
    main.user-auth > div,
    footer.user-auth > div {
        margin-left: 20px;
        margin-right: 20px;
    }
}

