:root {
    --dark-gray: #282828;
    --cream: #EDE1C2;
    --sf-pro-font: 'SF Pro Display';
}


header.user-auth > div,
main.user-auth > div,
footer.user-auth > div {
    max-width: 1800px;
    margin: 0 auto;
}

/* 
==============================
==============================
==============================
HEADER-USER AUTH ==============================
==============================
==============================
==============================
*/
#header-ua {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: var(--dark-gray);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#header-ua > div {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0;
}


#header-ua .content-nav > ul {
    gap: 0 45px;
}

#header-ua nav > ul .img-con {
    cursor: pointer;
    transition: .3s;
    transform: translateY(0);
}


#header-ua > div .img-con.logo svg {
    width: 55px;
}



#header-ua nav > ul .img-con svg path {
    transition: fill 0.2s ease; /* Smooth transition */
}

/* Change color on hover */
#header-ua nav > ul .img-con:hover svg path {
    fill: var(--cream); /* Change color to cream */
}

/* #header-ua nav > ul .img-con a:focus svg path {
    fill: var(--cream); /* Change color to cream 
} */

#header-ua .user-nav > ul {
    gap: 0 50px;
}

#header-ua .user-nav > ul li {
    position: relative;
}

#header-ua .user-nav > ul.logos > li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .1);
    border: none;
}
#header-ua .img-con a {
    position: relative;
}

#header-ua .img-con a:before {
    content: '';
    position: absolute;
    width: calc(100% + 15px);
    bottom: -5px;
    left: 50%;
    height: 3px;
    background-color: var(--cream);
    transform: translate(-50%, 100%);
    transition: .5s ease-in-out;
    opacity: 0;
}

#header-ua nav {
    width: auto;
}

#header-ua .user-dropdown {
    position: absolute;
    background-color: var(--dark-gray);
    top: 40px;
    left: -420px;
    padding: 40px;
    width: 360px;
    border-radius: 6px;
    color: white;
}
/* 
==============================
==============================
==============================
MAIN-USER AUTH ==============================
==============================
==============================
==============================
*/

#main-ua {
    background: url('../img/drone_shot2.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#main-ua:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(56, 56, 56, 0.6) 0%, #000000 81.28%);
}
#main-ua > div {
    padding: 130px 0;
    gap: 0 50px;
    align-items: start; 
    justify-content: start;
}

#main-ua .focused a,
#header-ua .focused a {
    color: var(--cream); /* Or any color for the focused state */
}

#main-ua .focused svg path,
#header-ua .focused svg path {
    fill: var(--cream); /* Apply the fill color for focused icons */
}

/* Optional: Make the focused icon pop a bit */
#main-ua .focused.img-con,
#header-ua .focused.img-con {
    transform: translateY(-5px); /* Slightly move it up */
}

#header-ua .focused.img-con a:before {
    opacity: 1;
    transform: translate(-50%, 100%);
}

/* 
==============================
==============================
==============================
SIDEBAR-USER AUTH ==============================
==============================
==============================
==============================
*/
#sidebar-ua {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    gap: 45px 0;
    width: fit-content;
    padding: 125px 115px 25px 30px;
}

#sidebar-ua a{
    font-family: var(--sf-pro-font);
    font-size: 20px;
    color: white;
}

/* #sidebar-ua a:focus {
    color: var(--cream);
} */

#sidebar-ua .text-con {
    justify-content: unset;
    gap: 0 30px;
}

#sidebar-ua > .img-con {
    position: absolute;
    top: 30px;
    left: 30px;
}

/* 
==============================
==============================
==============================
CONTENT-PANEL-USER AUTH ==============================
==============================
==============================
==============================
*/

#content-panel-ua {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

#content-panel-ua > div {
    padding: 20px 20px 65px;
    color: white;
}

/* 
==============================
==============================
==============================
POSTS-USER AUTH ==============================
==============================
==============================
==============================
*/

#posts-con {
    width: 760px;
    height: 900px;
    overflow-y: scroll;
}
#posts-con::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

#posts-con::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges */
}

#posts-con article {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 35px 25px;
    
}

#posts-con article:not(:last-of-type){
    margin-bottom: 50px;
}


#posts-con .user-metadata {
    justify-content: unset;
    gap: 0 15px;
    margin-bottom: 15px;
}

#posts-con .user-metadata .poster-name,
#posts-con .user-metadata .poster-name span,
#posts-con .post-metadata .post-content {
    font-family: var(--sf-pro-font);

}

#posts-con .user-metadata .poster-name span {
    font-size: 14px;
}

#posts-con .user-metadata .text-con > p {
    margin-top: 5px;
    color: rgba(255, 255, 255, .6);
}
#posts-con .post-metadata {
    align-items: center;
    gap: 20px;
}

#posts-con .post-metadata .img-con img {
    border-radius: 24px;
}

#posts-con .post-metadata .post-content {
    line-height: 1.33em;
    letter-spacing: 0.03em;
    font-weight: 400;
}

@media only screen and (max-width: 1860px) {
    header.user-auth > div,
    main.user-auth > div,
    footer.user-auth > div {
        margin-left: 20px;
        margin-right: 20px;
    }
}

