#authentication {
    height: 100vh;
    background: url('../img/drone_shot.jpg') no-repeat right center;
    background-size: cover;
}

#authentication > div {
    max-width: 100%;
}

#authentication aside {
    position: absolute !important;
    right: 0;
    height: 100vh;
    background: white;
    transition: transform 0.5s ease-in-out;
    box-shadow: -4px 4px 30px 5px rgba(0,0,0);
    overflow: scroll;
}

#authentication aside.slide-in {
    transform: translateX(0); /* Default position */
}
  
#authentication aside.slide-out {
    transform: translateX(100%); /* Slide to the right when switching */
}

#authentication aside > div {
    padding: 50px 50px 0;
    height: calc(100% - 10%);
}

#authentication aside h1 {
    font-size: 32px;
}

#authentication aside div.imgs-con {
    justify-content: unset;
    gap: 0 10px;
}

#authentication aside > div > .text-con {
    padding: 45px 0 25px;
    color: #1A1A1A;
}

#authentication .form-con {
    width: 360px;
    margin-bottom: 30px;   
}

#authentication .form-con form {
    justify-content: center;
    gap: 15px 0;
}

#authentication .form-con form .text-con {
    margin-left: auto;
}

#authentication .form-con .switcher {
    margin-top: 20px;
    gap: 0 10px;
}

#authentication .form-con .text-con a {
    color: #007AFF;
}

#authentication .btns-con {
    margin-top: 15px;
    gap: 5px 0;
}

#authentication button {
    padding: 10px 0;
    background: #007AFF;
    color: white;
    border: .5px solid #e5e5e5;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    border-radius: 6px;
}

#authentication button.reject {
    background: #a24141;
}

#authentication button:hover {
    box-shadow: 0 3px 10px rgb(0 0 0);
    border-color: transparent;
}

#authentication .input-con {
    color: #333333;
    gap: 10px 0;
}


#authentication .input-con input {
    padding: 15px 0 15px 15px;
    border: none;
    background-color: #E5E5E5;
    border-radius: 6px;
}

#authentication .input-con input::placeholder {
    font-size: 15px;
    color: #808080;
    font-family: var(--sorts-mill-font);
}

#authentication footer {
    color: #666666;
    margin-top: auto;
    margin-left: auto;
    width: fit-content;
}

